body {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	font-family: sans-serif;
}

/*#region Body*/
#Body {
	min-height: 720px;
}

#body {
	max-width: 720px;
	min-height: 720px;
	margin: 5em auto;
	padding: 1em;
	background-color: rgba(128, 128, 128, 0.25);
}

#body .menuButton {
	
}

#footer {
	
}

#footer a:hover {
	text-decoration: none;
}

#footer .endButton {
	float: right;
}

#hubBody input, #fishBody input {
	display: block;
	width: 150px;
	border-radius: 0.5em;
	color: #fff;
	background-color: #2B65EC;
	margin-bottom: 0.25em;
	padding: 0.5em;
	border: hidden;
}

#hubBody input:hover, #fishBody input:hover {
	background-color: #1751D8;
	cursor: pointer;
}

#hubBody a:hover, #fishBody a:hover {
	text-decoration: none;
}
/*#endregion*/

/*#region Start Up*/
#startUp h2 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 0;
	font-weight: bold;
}

#startUp h4 {
	text-align: center;
	font-size: 1em;
	margin: 0 auto 1em auto;
}

#startUp .startUpHeader {
	max-width: 360px;
	min-height: 50px;
	margin: 0 auto;
}

#startUpButtons {
	max-width: 360px;
	margin: 5em auto;
}

#startUpButtons table {
	max-width: 10em;
	margin: 0 auto;
}

#startUpButtons input {
	width: 15em;
	margin-bottom: 0.25em; 
	padding: 1em;
	color: #fff;
	background-color: #2B65EC;
	text-transform: uppercase;
	font-weight: bold;
	border: hidden;
	border-radius: 5px;
}

#startUpButtons input:hover {
	background-color: #1751D8;
	cursor: pointer;
}
/*#endregion*/

/*#region Hub*/
#hubBody, #fishBody, #settings {
	min-height: 720px;
	padding: 0 1em;
	margin-bottom: 0.25em;
	border: 1px solid #000;
}

#hubBody .col-md-5, #fishBody .col-md-5 {
	padding-right: 0;
}

#hubBody .col-md-7, #fishBody .col-md-7 {
	padding: 0;
}

#hubPlaces {
	min-height: 200px;
}

#Image {
	min-height: 200px;
}
/*#endregion*/
