@model List<Masters_Of_Fishing_Web.Models.Lake>
@{
	ViewBag.Title = "Lake";
}

<div id="category">
	<div class="row">
		<div class="col-md-12">
			<h2>@ViewBag.Title</h2>
			<p>Add, edit or delete a fish from this category</p>
		</div>
		<div class="col-md-12">
			<a href="/Settings/Setting/AddLakeFish" class="addButton">Add Fish</a>
		</div>
		<div class="col-md-12">
			<table class="CMSTable">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Action</th>
				</tr>
				@foreach (Masters_Of_Fishing_Web.Models.Lake item in Model)
				{
					<tr>
						<td>@item.ID</td>
						<td>@item.Name</td>
						<td>
							<a href="/Settings/Setting/EditLakeFish/@item.ID"><i class="fas fa-pen"></i></a>
							<a href="/Settings/Setting/DeleteLakeFish/@item.ID" onclick="return confirm('Are you sure?')"><i class="fas fa-trash"></i></a>
						</td>
					</tr>
				}
			</table>
		</div>
	</div>
</div>
<div id="footer">
	<a href="/Home/Settings" class="menuButton">< Back to Settings</a>
</div>

