<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Masters of Fishing - @ViewBag.Title</title>
	<link href="~/Content/CSS/HomeStyleSheet.css" rel="stylesheet" />
	@RenderSection("head", required: false)
</head>
<body>
    <main id="Body">
        @RenderBody()
    </main>
</body>
</html>
