<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Masters of Fishing - @ViewBag.Title</title>
	<link href="~/Content/CSS/HomeStyleSheet.css" rel="stylesheet" />
	<link href="~/Content/Plugin/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	@RenderSection("head", required: false)
</head>
<body>
	<main id="Body">
		<section id="body">
			@RenderBody()
		</section>
	</main>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="~/Content/Plugin/js/bootstrap.min.js"></script>
	<script>
		if (Math.random() < 1) {
			text = "<a href='/Home/Caught/1'><input type='button' value='Fish' /></>";
		}
		else {
			text = "<a href='/Home/Caught/2'><input type='button' value='Fish' /></>";
		}
		document.getElementById("demo").innerHTML = text;
	</script>
	@RenderSection("JS", false)
</body>
</html>
