@model River
@{
    ViewBag.Title = "Caught";
}

<div id="fishBody">
	<div class="row">
		<div class="col-md-5">
			<div id="">
				<h3>@ViewBag.Title a Fish</h3>
				<p>You caught @(Model?.Name)!</p>
				<p>What will you do now?</p>
				<a href="/Home/Caught/@(Model?.ID)"><input type="button" value="Fish More" /></a>
				<a href="/Home/Hub"><input type="button" value="Head Back" /></a>
			</div>
		</div>
		<div class="col-md-7">
			<div id="Image">
				
			</div>
		</div>
	</div>
</div>

