
@{
    ViewBag.Title = "Coast";
}

<div id="fishBody">
	<div class="row">
		<div class="col-md-5">
			<div id="">
				<h3>The @ViewBag.Title</h3>
				<p>What will you do here?</p>
				<a href="/Home/Caught"><input type="button" value="Fish" /></a>
				<a href="javascript:void(0);" onclick="history.go(-1);"><input type="button" value="Head Back" /></a>
			</div>
		</div>
		<div class="col-md-7">
			<div id="Image">
				<img src="~/Content/IMG/Coast.jpg" alt="@ViewBag.Title" class="img-fluid" />
			</div>
		</div>
	</div>
</div>

