
@{
	ViewBag.Title = "Index";
}

<div id="startUp">
	<div class="startUpHeader">
		<h2>Master of Fishing</h2>
		<h4>The Best Fishing Experience</h4>
	</div>
	<div id="startUpButtons">
		<table>
			<tr>
				<td>
					<a href="/Home/Hub"><input type="button" value="Start" /></a>
				</td>
			</tr>
			<tr>
				<td>
					<a onclick="return confirm('This feature is not available')"><input type="button" value="Highscore" /></a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/Home/Settings"><input type="button" value="Settings" /></a>
				</td>
			</tr>
		</table>
	</div>
</div>