@model Ocean
@{
	ViewBag.Title = "Caught";

	Random rnd = new Random();
	int id = Convert.ToInt32(Model.ID);
	int randomNumber = rnd.Next(id, 10);
}

<div id="fishBody">
	<div class="row">
		<div class="col-md-5">
			<div id="">
				<h3>@ViewBag.Title a Fish</h3>
				<p>You caught a Fish!</p>
				<p><strong>Name</strong>: @(Model?.Name)</p>
				<p><strong>Weight</strong>: @Model.Weight kg</p>
				<p><strong>Length</strong>: @Model.Length m</p>
				<p>What will you do now?</p>
				<a href="/Home/OCaught/@randomNumber"><input type="button" value="Fish" /></a>
				<a href="/Home/Hub"><input type="button" value="Head Back" /></a>
			</div>
		</div>
		<div class="col-md-7">
			<div id="Image">
				<img src="~/Content/IMG/Caught.jpg" class="img-fluid" />
			</div>
		</div>
	</div>
</div>