
@{
    ViewBag.Title = "Settings";
}

<div id="settings">
	<div class="row">
		<div class="col-md-12">
			<h3>Settings</h3>
			<p>Here you can edit in the selected category</p>
		</div>
		<div class="col-md-12">
			<table class="CMSTable">
				<tr>
					<th>Name</th>
					<th>Actions</th>
				</tr>
				<tr>
					<td>Coast</td>
					<td><a href="/Settings/Setting/Coast"><i class="fas fa-pen"></i></a></td>

				</tr>
				<tr>
					<td>Lake</td>
					<td><a href="/Settings/Setting/Lake"><i class="fas fa-pen"></i></a></td>

				</tr>
				<tr>
					<td>Ocean</td>
					<td><a href="/Settings/Setting/Ocean"><i class="fas fa-pen"></i></a></td>
				</tr>
				<tr>
					<td>River</td>
					<td><a href="/Settings/Setting/River"><i class="fas fa-pen"></i></a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div id="footer">
	<a href="javascript:void(0);" onclick="history.go(-1);" class="menuButton">< Back to Menu</a>
</div>

